:root {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 80px;
}

.background {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    object-fit: cover;
    object-position: top;

    filter: hue-rotate(210deg);
    opacity: 0.4;
}

header {
    margin-bottom: 150px;
}

main>section {
    margin-bottom: 40px;
}

.section-title {
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;

    &>span {
        display: inline-block;
        width: 30px;
        aspect-ratio: 1;

        &>img {
            width: 100%;
            height: 100%;
        }
    }
}

.nav {
    width: 80px;
    height: 100dvh;

    padding: 15px;

    background-color: white;

    display: flex;
    flex-direction: column;
    row-gap: 25px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &>a:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.nav__link,
.nav__img {
    max-width: 100%;
    max-height: 100%;
}

.nav__link {
    text-decoration: none;
    color: unset;
}

.nav__link img {
    transition: transform 0.2s ease;
}

.nav__link:hover img {
    transform: rotate(10deg) translateX(20px);
}

/* header start */
.header {
    position: relative;
}

.header__title {
    width: fit-content;

    margin: 0 auto;
    padding: 20px 50px;

    text-align: center;

    color: rgb(184 205 255);
    background-color: white;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.facts {
    display: flex;

    margin-top: 100px;
}

.facts__left,
.facts__right {
    width: 50%;
    height: 20dvh;

    background-color: white;
}


.facts__left {
    position: relative;

    background: url("../img/intro2.jpg") top / cover no-repeat;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &>h2 {
        width: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        color: white;
        text-shadow: 0 0 2px black;
    }
}

.facts__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;

    list-style-type: none;
}

.facts__item {
    padding: 5px 10px;

    background-color: rgb(197, 255, 226);
    border-radius: 15px;

    text-align: center;
    white-space: nowrap;

    font-weight: 700;
}

/* header end */

/* plants section start */
.plants__items {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    list-style-type: none;
}

.plants__card {
    width: 20%;
    max-width: 400px;
    aspect-ratio: 2/3;

    border-radius: 20px;

    position: relative;

    &::before {
        content: attr(data-top-text);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(7px, 7px);

        background-color: white;
        border-radius: 13px;

        padding: 3px 5px;
    }

    &::after {
        content: attr(data-bottom-text);
        position: absolute;
        bottom: 0;
        left: 0;

        transform: translate(7px, -7px);

        background-color: white;
        border-radius: 13px;

        padding: 3px 5px;
    }

    &:first-of-type {
        background: url("../img/plant0.jpg") center/ cover no-repeat;
    }

    &:nth-of-type(2) {
        background: url("../img/plant1.jpg") center/ cover no-repeat;
    }

    &:nth-of-type(3) {
        background: url("../img/plant2.jpg") center/ cover no-repeat;
    }

    &:nth-of-type(4) {
        background: url("../img/plant3.jpg") center/ cover no-repeat;
    }

    &:last-of-type {
        background: url("../img/plant4.jpg") center/ cover no-repeat;
    }
}

/* plants section end */

/* about section start */
.about__items {
    display: flex;
    list-style-type: none;
}

.about__card {
    width: 34%;
    height: 250px;

    background-color: white;

    position: relative;

    &:first-of-type {
        background: url("../img/internet.jpg") center/ cover no-repeat;
    }

    &:nth-of-type(2) {
        background: url("../img/events.jpg") center/ cover no-repeat;
    }

    &:last-of-type {
        background: url("../img/friends.jpg") center/ cover no-repeat;
    }

    &::before {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 700;
        font-size: 24px;
        text-shadow: 0 0 2px black;
    }
}

/* about section end */

/* recycle section start */
.recycle__content {
    display: flex;

    &>div {
        width: 50%;
        min-height: 300px;
        padding: 20px;
    }
}

.recycle__image {
    background: url("../img/land0.jpg") center / cover no-repeat;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-width: 30%;
        height: 30%;
        aspect-ratio: 1;

        background-image: var(--icon);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.recycle__text {
    text-align: center;
}

.recycle__text-src {
    font-weight: 500;
    padding: 20px;
    backdrop-filter: blur(2px) invert(8%);
    border-radius: 15px;
}

/* recycle section end */

/* appointment section start */
.appointment__form>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    &>input {
        width: 80dvw;
        padding: 5px;
    }

    &>button {
        display: flex;
        align-items: flex-end;
        column-gap: 15px;

        width: fit-content;
        padding: 5px 15px 8px;

        background-color: white;
        border: none;
        border-radius: 20px;
        box-shadow: 0 2px 15px gray;

        & img {
            width: 20px;
            aspect-ratio: 1;
        }
    }
}

/* appointment section end */

/* media start */
@media screen and (max-width: 800px) {
    .facts {
        flex-direction: column;
    }

    .facts__left,
    .facts__right {
        width: 100%;
    }

    .facts__left {
        border-radius: 0;
    }

    .recycle__image {
        display: none;
    }

    div.recycle__text {
        width: 100%;
    }
}

@media screen and (max-width: 800px) and (min-width: 601px) {

    .plants__card::before,
    .plants__card::after {
        content: none;
    }
}

@media screen and (max-width: 600px) {
    .plants {
        padding-inline: 20px;
    }

    .plants__items {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .plants__card {
        width: 100%;
    }

    .about__items {
        flex-direction: column;
        align-items: center;
    }

    .about__card {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
        padding-top: 80px;
    }

    .nav {
        flex-direction: row;
        justify-content: space-evenly;

        width: 100%;
        height: fit-content;
    }

    .nav__link {
        height: 50px;

        & span {
            display: none;
        }
    }

    .header__title {
        width: 100%;
    }
}

/* media end */